#div1 {
  border: 3px solid blue;
  margin: 5px;
  padding: 5px;
  height: 100px;
}
#div2 {
  border: 3px solid green;
  margin: 5px;
  height: 50px;
}
#div3 {
  border: 3px solid red;
  margin: 5px;
  height: 100px;
}
#div4 {
  border: 3px solid purple;
  margin: 5px;
  height: 100px;
  display: inline;
}
#div5 {
  border: 3px solid purple;
  margin: 5px;
  height: 100px;
  display: inline;
}
#div6 {
  border: 3px solid purple;
  margin: 5px;
  height: 100px;
  display: inline-block;
}
#div7 {
  border: 3px solid orange;
  margin: 5px;
  height: 100px;
  display: inline-block;
}
#div8 {
  border: 3px solid cyan;
  margin: 5px;
  height: 100px;
  display: inline-block;
}
#span1 {
  display: block;
}
