    .product{
        width:700px;
        position: relative;
        margin: 15px;
    }
    .image{
        background-color: cyan;
        height: 200px;
        width: 200px;
        font-size: 40px;
        text-align: center;
    }
    .product_title{
        position: absolute;
        top: 10px;
        left: 220px;
    }
    .product_description{
        width: 450px;
        position: absolute;
        top: 40px;
        left: 220px;
    }
    .price{
        position: absolute;
        bottom: -30px;
    }
    .button{
      width: 120px;
      background-color: cyan;
      padding: 3px;
      position: absolute;
      bottom: -70px;
      left: 0px;
      border: solid 2px black;
    }
    .button:hover {
      background-color: lightblue;
    }
    div{
        border-style: solid;
        border-width: 2px;
    }
